# 課題1

与えられたリスト内重複な値を削除してください。

In [4]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [11]:
# 回答
numbers.remove(2)
numbers.remove(3)
numbers.remove(4)
numbers.remove(6)
numbers.remove(57)
numbers.remove(9)
numbers.remove(10)
numbers.remove(0)

ValueError: list.remove(x): x not in list

In [13]:
numbers.insert(2,"2")

In [14]:
numbers

[1, 3, '2', 5, 4, 57, 6, 18, 7, 8, 9, 0, 10]

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```をprintしてください。

```value_0```と```value_１```を実行した結果を確認してください。

In [15]:

numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [25]:
#回答
x=value_0
if numbers.count(x)>0:
	print(x,numbers.count(x))
else:
	ptint(x,"NotExist")

0 2

In [27]:
x=value_1
if numbers.count(x)>0:
	print(x,numbers.count(x))
else:
	print(x,"NotExist")

100 NotExist

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [1]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

value_0= "Parsons"
value_1= "Giddens"

In [2]:
# 回答
if value_0 in birth:
    print(birth[value_0])
else:
    print("Not Exists")

1902

In [3]:
if value_1 in birth:
    print(birth[value_1])
else:
    print("Not Exists")

Not Exists