課題２　C3LB1178　藤田晃庸

# 課題1

与えられたリスト内重複な値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [ ]:
# 回答
correct_numbers = []
seen = set()
for num in numbers:
  if num not in seen:
    correct_numbers.append(num)
    seen.add(num)

print(correct_numbers)

[1, 2, 3, 4, 5, 6, 57, 18, 7, 9, 8, 10, 0]

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```をprintしてください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:

numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [ ]:
# 回答
def count_occurrences(value):
  count=numbers.count(value)
  if count>0:
    print(f"出現回数:{count}")
  else:
    print("Not Exists")

count_occurrences(value_0)
count_occurrences(value_1)

出現回数:2
Not Exists

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
# 回答
birth = {
    'Marx': 1818,
    'Weber': 1864,
    'Durkheim': 1858,
    'Parsons': 1902,
    'Merton': 1911}

value_0 = "Parsons"
value_1 = "Giddens"

def print_birth_year(name):
  if name in birth:
    print(f"{name}:{birth[name]}")
  else:
    print("Not exists")

print_birth_year(value_0)
print_birth_year(value_1)

Parsons:1902
Not exists