# 課題1

与えられたリスト内重複な値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [ ]:
# 回答
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
unique_number = set(numbers)
print(unique_number)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 18, 57}

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```をprintしてください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:

numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [ ]:
#メモ
t = [value_0,value_1]
for i in t:
    x=i
    if x in numbers:
        print(numbers.count(x))
    else:
         print("Not Exits")

2
Not Exits

In [ ]:
#回答
t = [value_0,value_1]
for i in t:

    if i in numbers:
        print(numbers.count(i))
    else:
         print("Not Exits")

2
Not Exits

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

value_0= "Parsons"
value_1= "Giddens"

In [ ]:
# 回答
t = [value_0,value_1]
for x in t:
  if x in birth:
    print(birth[x])
  else:
    print("Not Exists")

1902
Not Exists