###C3LB1159 NARITA KEITA###

2025/05/27

# 課題1

与えられたリスト内の重複している値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

# 重複を削除した後，数が小さい順に並び替える
X = sorted(set(numbers))

print(X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 18, 57]

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```をprintしてください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
#value_0を実行するコード
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0 = 0

for i in [value_0]:
    print(numbers.count(i) if i in numbers else "与えられたリスト内にはなし")

2

In [ ]:
#value_100を実行するコード
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_1 = 100

for j in [value_1]:
    print(numbers.count(j) if j in numbers else "与えられたリスト内にはなし")

与えられたリスト内にはなし

# 課題3

与えられた辞書内の指定した一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
#value_0を実行するコード
birth = {
    'Marx': 1818,
    'Weber': 1864,
    'Durkheim': 1858,
    'Parsons': 1902,
    'Merton': 1911
}

value_0 = "Parsons"

for k in [value_0]:
    print(birth[k] if k in birth else "与えられたリスト内にはなし")

1902

In [ ]:
#value_1を実行するコード
birth = {
    'Marx': 1818,
    'Weber': 1864,
    'Durkheim': 1858,
    'Parsons': 1902,
    'Merton': 1911
}

value_1 = "Giddens"

for l in [value_1]:
    print(birth[l] if l in birth else "与えられたリスト内にはなし")

与えられたリスト内にはなし