# Assignment7

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [ ]:
json_path_path = '/content/drive/MyDrive/CSS/example.json'

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [ ]:
#読み込み
abbrevs_path = '/content/drive/MyDrive/CSS/state-abbrevs.csv'

In [ ]:
area_path = '/content/drive/MyDrive/CSS/state-areas.csv'

In [ ]:
population_path = '/content/drive/MyDrive/CSS/state-population.csv'

In [ ]:
#命名
abbrevs = pd.read_csv(abbrevs_path)
areas = pd.read_csv(area_path)
population = pd.read_csv(population_path)

In [ ]:
#正常に読み込めたかチェック
print(abbrevs.head())

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [ ]:
print(areas.head())

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [ ]:
print(population.head())

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [ ]:
#2010年のデータのみ抽出する
population_2010 = population.query("year == 2010 and ages == 'total'")

In [ ]:
#それぞれの州の略称と正式な名称をマッチングさせる
population_2010_1 = population_2010.drop(columns=['abbreviation', 'state'], errors='ignore')

#それぞれの州の略称と正式な名称を一対一でマッチング
population_2010_2 = population_2010_1.merge(abbrevs, how='left', left_on='state/region', right_on='abbreviation')

In [ ]:
#欠損値を処理
population_2010_2['state'] = population_2010_2['state'].fillna(population_2010_2['state/region'])

In [ ]:
#面積データとマージする
population_area = population_2010_2.merge(areas, how='inner', on='state')

In [ ]:
#人口密度を計算
population_area['density'] = population_area['population'] / population_area['area (sq. mi)']

result = population_area[['state', 'population', 'area (sq. mi)', 'density']]\
           .sort_values(by='density', ascending=False)

print(result.head(50))

                   state  population  area (sq. mi)      density
8   District of Columbia    605125.0             68  8898.897059
30            New Jersey   8802707.0           8722  1009.253268
39          Rhode Island   1052669.0           1545   681.339159
6            Connecticut   3579210.0           5544   645.600649
21         Massachusetts   6563263.0          10555   621.815538
20              Maryland   5787193.0          12407   466.445797
7               Delaware    899711.0           1954   460.445752
32              New York  19398228.0          54475   356.094135
9                Florida  18846054.0          65758   286.597129
38          Pennsylvania  12710472.0          46058   275.966651
35                  Ohio  11545435.0          44828   257.549634
4             California  37333601.0         163707   228.051342
13              Illinois  12839695.0          57918   221.687472
46              Virginia   8024417.0          42769   187.622273
14               Indiana   6489965.0          36420   178.197831
33        North Carolina   9559533.0          53821   177.617157
10               Georgia   9713248.0          59441   163.409902
42             Tennessee   6356683.0          42146   150.825298
40        South Carolina   4636361.0          32007   144.854594
29         New Hampshire   1316614.0           9351   140.799273
11                Hawaii   1363731.0          10932   124.746707
17              Kentucky   4347698.0          40411   107.586994
22              Michigan   9876149.0          96810   102.015794
47            Washington   6742256.0          71303    94.557817
43                 Texas  25245178.0         268601    93.987655
0                Alabama   4785570.0          52423    91.287603
18             Louisiana   4545392.0          51843    87.676099
49             Wisconsin   5689060.0          65503    86.851900
25              Missouri   5996063.0          69709    86.015622
48         West Virginia   1854146.0          24231    76.519582
45               Vermont    625793.0           9615    65.085075
24           Mississippi   2970047.0          48434    61.321530
23             Minnesota   5310337.0          86943    61.078373
2                Arizona   6408790.0         114006    56.214497
3               Arkansas   2922280.0          53182    54.948667
15                  Iowa   3050314.0          56276    54.202751
36              Oklahoma   3759263.0          69903    53.778278
5               Colorado   5048196.0         104100    48.493718
37                Oregon   3837208.0          98386    39.001565
19                 Maine   1327366.0          35387    37.509990
16                Kansas   2858910.0          82282    34.745266
44                  Utah   2774424.0          84904    32.677188
28                Nevada   2703230.0         110567    24.448796
27              Nebraska   1829838.0          77358    23.654153
12                 Idaho   1570718.0          83574    18.794338
31            New Mexico   2064982.0         121593    16.982737
41          South Dakota    816211.0          77121    10.583512
34          North Dakota    674344.0          70704     9.537565
26               Montana    990527.0         147046     6.736171
50               Wyoming    564222.0          97818     5.768079

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [ ]:
#state/region・ages・yearごとにグループ化し，その密度を求める
group_density = population_area.groupby(['state/region', 'ages', 'year'])['density'].mean().reset_index()

#アウトプット
print(group_density.head(50))

   state/region   ages  year      density
0            AK  total  2010     1.087509
1            AL  total  2010    91.287603
2            AR  total  2010    54.948667
3            AZ  total  2010    56.214497
4            CA  total  2010   228.051342
5            CO  total  2010    48.493718
6            CT  total  2010   645.600649
7            DC  total  2010  8898.897059
8            DE  total  2010   460.445752
9            FL  total  2010   286.597129
10           GA  total  2010   163.409902
11           HI  total  2010   124.746707
12           IA  total  2010    54.202751
13           ID  total  2010    18.794338
14           IL  total  2010   221.687472
15           IN  total  2010   178.197831
16           KS  total  2010    34.745266
17           KY  total  2010   107.586994
18           LA  total  2010    87.676099
19           MA  total  2010   621.815538
20           MD  total  2010   466.445797
21           ME  total  2010    37.509990
22           MI  total  2010   102.015794
23           MN  total  2010    61.078373
24           MO  total  2010    86.015622
25           MS  total  2010    61.321530
26           MT  total  2010     6.736171
27           NC  total  2010   177.617157
28           ND  total  2010     9.537565
29           NE  total  2010    23.654153
30           NH  total  2010   140.799273
31           NJ  total  2010  1009.253268
32           NM  total  2010    16.982737
33           NV  total  2010    24.448796
34           NY  total  2010   356.094135
35           OH  total  2010   257.549634
36           OK  total  2010    53.778278
37           OR  total  2010    39.001565
38           PA  total  2010   275.966651
39           RI  total  2010   681.339159
40           SC  total  2010   144.854594
41           SD  total  2010    10.583512
42           TN  total  2010   150.825298
43           TX  total  2010    93.987655
44           UT  total  2010    32.677188
45           VA  total  2010   187.622273
46           VT  total  2010    65.085075
47           WA  total  2010    94.557817
48           WI  total  2010    86.851900
49           WV  total  2010    76.519582